@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

body {
    width: 100%;
    background-color: red;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: white;
    margin: 0px auto auto 0px;
}
.top {
    width: 935px;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: green;
}
nav:nth-child(1) {
    
    font-size: 22px;
    margin: 16px 0px 16x 0px;   
}
nav:nth-child(2) {
    background-color: black;
    width: 1px;
    height: 22px;
    margin: 15px 10px 17px 10px;

}
nav:nth-child(3) {
    width: 103px;
    height: 29px;
    margin: 15px 10px 10px 0px;

}
nav:nth-child(4) {
    box-sizing: border-box;
    border: 1px solid #dbdbdb;
    width: 215px;
    height: 28px;
    margin: 13px 212px 13px 214px;
    border-radius: 3px;
    font-weight: 500px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #979797;
}