@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-color: red;
    font-family: 'Roboto', sans-serif;

}
header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 54px;
    background-color: #FFFFFF;
    top: 0px;
    left: 0px;
    border: 1px solid #DBDBDB;
    position: fixed;
}
.top {
    width: 935px;
    height: 54px;
    display: flex;
    align-items: center;
    background-color: green;
}
nav:nth-child(1) {
    
    font-size: 22px;
    margin: 16px 0px 16x 0px;   
}
nav:nth-child(2) {
    background-color: black;
    width: 1px;
    height: 22px;
    margin: 15px 10px 17px 10px;

}
nav:nth-child(3) {
    width: 103px;
    height: 29px;
    margin: 15px 10px 10px 0px;

}
nav:nth-child(4) {
    border: 1px solid #dbdbdb;
    width: 215px;
    height: 28px;
    margin: 13px 212px 13px 214px;
    border-radius: 3px;
    font-weight: 500px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #979797;
}
nav:nth-child(4):hover {
    background-color: gray;
    cursor: pointer;
}
nav:nth-child(5) {
    font-size: 22px;
    margin: 16px 20px 16px 0px;
}
nav:nth-child(5):hover {
    cursor: pointer;
}
nav:nth-child(6) {
    font-size: 22px;
    margin: 16px 20px 16px 0px;
}
nav:nth-child(6):hover {
    cursor: pointer;
}
nav:nth-child(7) {
    font-size: 22px;
    margin: 16px 20px 16px 0px;
}
nav:nth-child(7):hover {
    cursor: pointer;
}
nav:nth-child(8) {
    font-size: 22px;
    margin: 16px 1px 16px 0px;
}
nav:nth-child(8):hover {
    cursor: pointer;
}

.center-top {
    background-color: #FFFFFF;
    width: 614px;
    height: 118px;
    border-radius: 3px;
    border: 1px solid #DBDBDB;
    margin-top: 88px;
    margin-left: 215px;
    position: relative;
    overflow: hidden;
    
}
.background1 {
    width: 66px;
    height: 66px;
    left: 18px;
    top: 18px;
    position: absolute;
    border-radius: 33px;
}
.logo1 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 23px;
    top: 23px;
    border-radius: 28px;
}
.background2 {
    width: 66px;
    height: 66px;
    left: 98px;
    top: 18px;
    position: absolute;
    border-radius: 33px;
}
.logo2 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 103px;
    top: 23px;
    border-radius: 28px
}
.background3 {
    width: 66px;
    height: 66px;
    left: 178px;
    top: 18px;
    position: absolute;
    border-radius: 33px;
}
.logo3 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 183px;
    top: 23px;
    border-radius: 28px
}
.background4 {
    width: 66px;
    height: 66px;
    left: 258px;
    top: 18px;
    position: absolute;
    border-radius: 33px;
}
.logo4 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 263px;
    top: 23px;
    border-radius: 28px
}
.background5 {
    width: 66px;
    height: 66px;
    left: 338px;
    top: 18px;
    position: absolute;
    border-radius: 33px;
}
.logo5 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 343px;
    top: 23px;
    border-radius: 28px
}
.background6 {
    width: 66px;
    height: 66px;
    left: 418px;
    top: 18px;
    position: absolute;
    border-radius: 33px;
}
.logo6 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 423px;
    top: 23px;
    border-radius: 28px
}
.background7 {
    width: 66px;
    height: 66px;
    left: 498px;
    top: 18px;
    position: absolute;
    border-radius: 33px;
}
.logo7 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 503px;
    top: 23px;
    border-radius: 28px
}
.background8 {
    width: 66px;
    height: 66px;
    left: 578px;
    top: 18px;
    position: absolute;
    border-radius: 33px;
}
.logo8 {
    position: absolute;
    width: 56px;
    height: 56px;
    left: 583px;
    top: 23px;
    border-radius: 28px
}
.arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 43px;
    left: 576px;
    filter: drop-shadow(0px 4px 4px rgba(238, 234, 234, 0.25));
    color: #FFFFFF;
}